
  <div class="wrapper">
      <header class="header">
         <div class="header__container _container">
              <div class="header__logo">
                  <!-- <div class="logo__icon"><img src="images/logo/logo.svg" alt="logo"></div> -->
                  <div class="logo__desc">
                      <img src="/assets/images/logo/jl.png" alt="logo-desc">
                  </div>
              </div>      
              <div class="header__burger_container">
                  <a class="header__phone" href="tel:+995 571 653 704"><img  width="27" height="27" src="/assets/images/eighth-screen/phone.svg" alt="звонок"></a>
                  <div class="header__burger">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </div>
              <nav class="header__menu">
                  <ul class="header__list">
                      <li><a href="web/landing" class="header__link about">About Us</a></li>
                      <li><a href="web/jlapp" class="header__link business">Products</a></li>
                      <li><a href="web/login" class="header__link contact">Login</a></li>
                  </ul>
              </nav>
         </div> 
      </header>
      <main class="main">
          <section class="firstscrenn" id="firstscrenn">
              <div class="firstscrenn__container">
                  <img class="firstscrenn__container-bg" src="/assets/images/first-screen/box_PNG75.png" alt="rulon">
                  <div class="firstscrenn__header _container">
                      <div class="rightblock__title anim__items anim-no-hide">
                          <img width="100" height="73" src="assets/images/logo/jl.png" alt="logo">
                      </div>
                      <div class="firstscrenn__header-content">
                          <div class="firstscrenn__header-mail">
                              <p><img src="assets/images/first-screen/icons/mail1.svg" alt="Mail Icon"> Contact Us</p>
                        
                          </div>
                          <div class="firstscrenn__header-language">
                              <p><img width="16" height="19" src="assets/images/first-screen/icons/adress.svg" alt="language"> Bicol</p>
                  
                          </div>
                          <div class="firstscrenn__header-contact">
                              <p>We are online<span>&#9679;</span></p>
                              <div class="contact__container">
                                  <a href=""><img width="23" height="23" src="assets/images/first-screen/icons/telegram.svg" alt="telegram"></a>
                                  <a href=""><img width="23" height="23" src="assets/images/first-screen/icons/phone.svg" alt="phone"></a> 
                                  <a href="tel:+639088914069">+639088914069</a> 
                              </div>
                              <a class="call-reverse-btn" href="#"><img width="20" height="20" src="assets/images/first-screen/icons/call-reverse.svg" alt="Обратный звонок">
                                  Contact Person: Rafael Caguia jr</a>
                          </div>
                      </div>       
                  </div>
                  <div class="firstscrenn__body">
                      <div class="_container">
                          <h1 class="anim__items anim-no-hide">JL<br>Enterprises </h1>
                          <p class="firstscrenn__body-description anim__items">
                              Your Gateway to Quality Wholesale Solutions
                          </p>
                      </div>
                  </div>
              </div>
          </section>
          <section class="aboutcompany" id="aboutcompany">
              <div class="aboutcompany__container _container">
                  <div class="aboutcompany__leftblock">
                      <h2 class="title anim__items anim-no-hide">About</h2>
                      <h5 class="anim__items anim-no-hide"> JL Enterprises</h5>
                      <p class="anim__items anim-no-hide">is a wholesale specialist that was established due to growing demand of small retail stores of small household ventures and hardware supplies whose businesses cannot accommodate yet the minimum quantity requirement of manufacturing companies. </p>
                  </div>
                  <div class="aboutcompany__rightblock">
                      <div class="rightblock__title anim__items anim-no-hide">
                          <!-- <img width="76" height="73" src="images/logo/logo.svg" alt="logo"> -->
                          <img width="200" height="50" src="/assets/images/logo/jl1.png" alt="logo-desc">
                          <span>Commitment to Excellence</span>
                      </div>
                      <div class="rightblock__content anim__items anim-no-hide">
                          <img src="/assets/images/fourth-screen/icons/dots.svg" alt="dots">
                          We are pro-customer by giving top quality service and items while ensuring to put their convenience first. Having a site where customers may order their requirements online and having their orders be delivered to their doorsteps, opens our products and services within the BICOL region. 
                      </div>
                  </div>
              </div>
          </section>
       

      </main>

  </div>

  <!-- up -->
  <div class="up"><img src="/assets/images/logo/up.png" alt="up"></div>