<header>
  <a href="#" class="back-button">
    <div class="circle">
      ←
    </div>
  </a>
  <div class="header-bg-images">
    <img class="phone-image" src="/assets/image-mockups.png" alt="phones image">
  </div>

  <div class="header-content">
    <h2 class="header-title">Wholesale at Your Fingertips</h2>
    
    <p class="header-text">
      Streamline your workflow, manage users, set service agreements, integrate files, and enjoy seamless communication, all within one powerful application. 
      With advanced features like task automation, field agent tracking, custom form building, and comprehensive reporting, 
      your business is equipped to excel in the digital age. Our native mobile application supports offline mode for 
      uninterrupted functionality, ensuring your business stays ahead, anytime, anywhere.
    </p>
  </div>
</header>
